footer {
    background: linear-gradient(to right, #a50044, #000a98);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  