.match-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(165, 0, 68, 0.5), 0 4px 20px rgba(0, 77, 152, 0.5); 
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 16px;
  color: #000000;
  text-align: center;
  margin: 10px;
  width: 100%; 
  max-width: 300px; 
  height: 140px !important;
  height: auto;
}

.match-card:hover {
  box-shadow: 0 6px 15px rgba(165, 0, 68, 0.7), 0 6px 25px rgba(0, 77, 152, 0.7);
}


/* Tamaño de pantalla grande */
@media (min-width: 1024px) {
  .match-card {
    width: 330px;
    height: 150px;
  }
}

/* Tamaño de pantalla mediano */
@media (min-width: 768px) and (max-width: 1023px) {
  .match-card {
    width: 300px;
    height: 140px;
  }
}

/* Tamaño de pantalla pequeña */
@media (max-width: 767px) {
  .match-card {
    width: 90%;
    height: auto;
    padding: 12px;
  }
}

/* Tamaño de pantalla muy pequeña */
@media (max-width: 480px) {
  .match-card {
    width: 100%;
    padding: 10px;
  }

  .team img {
    width: 30px;
    height: 30px;
  }

  .versus {
    font-size: 1.2rem;
  }

  .match-time {
    font-size: 0.8rem;
  }
}

.competition-header-container {
  height:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competition-logo {
  display: flex;
  justify-content: flex-start;
  width: 70px;
  margin-bottom: 5px;
}

.competition-header {
  font-weight: lighter;
  font-size: 1rem;
  color: #000000;
  text-align: right;
  flex-grow: 1;
}

.match-info {
  border-top: 1px solid #000000;
  padding-top: 10px;
}

.teams {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.versus {
  font-size: 2rem;
  font-weight: lighter;
  color: #ff5e57;
}

.match-time {
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  color: #000000;
  height: 30px;
  align-items: center;

}

.match-time span {
  display: inline-block;
}

.match-time span:first-child {
  color: #ff5e57;
}
