@font-face {
  font-family: 'FC Barcelona';
  src: url('../fonts/Barcelona19-20-21.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

/* Aplicar la fuente a toda la página */
body {
  font-family: 'FC Barcelona', sans-serif; 
  margin: 0; 
  padding: 0;
}
